body{
	margin: 0;
	padding: 0;
} 
.header{
	background-color: #121B2A;
}
.container{
	width: 70%;
	margin: 0 auto;
	overflow: hidden;
	
}


.logo{
	width: 25%;
	float: left;
	padding: 20px;
}
.logo img{
	width: 80%;
}



}
.menu{
	width: 60%;
	float: right;
	font-style: 11px;
	font-family: sans-serif;

}
.menu ul{
	 float: left;
	 padding: 20px

}
.menu ul a{
	transition: .3s;
	text-decoration: none;
	color:white;

}
.menu ul a:hover{
	color: #0078BF;

}



.menu ul li a{


}

.banner{
	background-image: url(../cls7/images/full.png);
	min-height: 563px;
	background-size: cover;

}

.banner_container{ 
	margin-top:250px;
 }
.banner_container h3{
    margin-bottom: 30px;
    
    font-family: sans-serif;
    color: white;
    font-size: 32px;
    }


 
.banner_container h2{ 
	color: #FD59FA; 
	margin-top: 0;
	margin-bottom: 30px;
    font-family: monospace;
	font-size: 45px;
	
 }
.banner_container p{ 
	color: white;
    font-size: 20px;
    font-family: serif;

 }
.banner_container button { 
	font-size: 20px;
	text-decoration: none;
 }

